* {
  padding: 0;
  margin: 0;
}
html,
body {
  background-color: white;
}
.w100 {
  width: 100%;
}
.txt-center {
  text-align: center;
}
.bg_red_1 {
  background-color: #ff003c;
}
.bg_red_2 {
  background-color: #f40035;
}
.bg_purple_1 {
  background-color: #8c00d8;
}
.bg_purple_2 {
  background-color: #9900dc;
}
.page_2,
.page_3,
.page_4,
.page_6,
.btn--black,
.btn--red {
  margin-top: -0.05333rem;
}
.btn {
  padding: 0.24rem;
}
