@primary-color_1: #ff003c;
@primary-color_2: #f40035;
@sub-primary-color_1: #8c00d8;
@sub-primary-color_2: #9900dc;

// 暂时先做*处理
*{padding: 0; margin: 0};

html, body{
    background-color: white;
}

// atom css
.w100{
    width: 100%;
}

.txt-center{
    text-align: center;
}

.bg_red_1{
    background-color: @primary-color_1;
}

.bg_red_2{
    background-color: @primary-color_2;
}

.bg_purple_1{
    background-color: @sub-primary-color_1;
}

.bg_purple_2{
    background-color: @sub-primary-color_2;
}

// 页面样式

.page_2, .page_3, .page_4, .page_6, .btn--black, .btn--red{
    margin-top: -4px;
}

.btn{
    padding: 18px;
}