* {
  margin: 0;
  padding: 0;
}
.w100 {
  width: 100%;
}
.txt-center {
  text-align: center;
}
.bg_red_1 {
  background-color: #ff003c;
}
.bg_red_2 {
  background-color: #f40035;
}
.bg_purple_1 {
  background-color: #8c00d8;
}
.bg_purple_2 {
  background-color: #9900dc;
}
.whitespace--sm {
  padding: 5px;
}
.whitespace {
  padding: 8px;
}
.whitespace--lg {
  padding: 12px;
}
.qixi_container .page_2,
.qixi_container .page_3,
.qixi_container .page_4,
.qixi_container .page_5,
.qixi_container .page_6,
.qixi_container .btn--black,
.qixi_container .btn--red {
  margin-top: -4px;
}
.qixi_container .btn {
  padding: 12px;
}
.qixi_container .btn--small {
  width: 32%;
}
.qixi_container .btn--big {
  width: 56%;
}
.qixi_container .click {
  transition: all .4s;
}
.qixi_container .click:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
